body {
  background-color: rgba(6, 1, 33, 255);
  color: white;
}

.nav-link,
.navbar-nav .nav-link.active,
.hero,
.navbar-brand,
.h3 {
  color: white;
}

.card-text {
  color: white;
}

.card {
  --bs-card-bg: #1f1a37;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-self: center;
}

.special-numbers {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 100px;
}

.absolute-para {
  position: absolute;
  top: 180px;
}
